In [1]:
import pandas as pd
import sklearn as skl
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('/home/s2106664/presto_igblast_analysis/airr_filtered.csv')
data

,sequence_id,sequence,sequence_aa,locus,stop_codon,vj_in_frame,v_frameshift,productive,rev_comp,complete_vdj,...,fwr3_end,fwr4_start,fwr4_end,cdr3_start,cdr3_end,np1,np1_length,np2,np2_length,disease_status
0,M00689:14:000000000-A2E6E:1:1101:14934:2065|CP...,AGGCACCTTCAGCAGCTATGCTATCAGCTGGGTGCGACAGGCCCCT...,GTFSSYAISWVRQAPGQGLEWMGGIIPIFGTANYAQKFQGRVTITA...,IGH,F,T,F,T,F,F,...,211.0,287.0,319.0,212.0,286.0,CGAGTTCTTCCTCCCG,16.0,CGGGGTCACGGCG,13.0,0
1,M00689:14:000000000-A2E6E:1:1101:18849:3537|CP...,AGGCACCTTCAGCAGCTATGCTATCAGCTGGGTGCGACAGGCCCCT...,TFSSYAISWVRQAPGQGLEWMGIINPSGGSTSYAQKFQGRVTMTRD...,IGH,F,T,F,T,F,F,...,211.0,287.0,319.0,212.0,286.0,TCTAAC,6.0,TCCCAACC,8.0,0
2,M00689:14:000000000-A2E6E:1:1101:10681:3763|CP...,TGCAGCCTCTGGATTCACCTTTAGTAGCTATTGGATGAGCTGGGTC...,AASGFTFSSYWMSWVRQAPGKGLEWVANIKQDGSEKYYVDSVKGRF...,IGH,F,T,F,T,F,F,...,223.0,287.0,319.0,224.0,286.0,TGAGGCCCTAAGGTCC,16.0,NaN,0.0,0
3,M00689:14:000000000-A2E6E:1:1101:21840:3357|CP...,TGCAGCCTCTGGATTCACCTTTAGCAGCTATGCCATGAGCTGGGTC...,AASGFTFSSYAMSWVRQAPGKGLEWVSAISGSGGSTYYADSVKGRF...,IGH,F,T,F,T,F,F,...,223.0,287.0,319.0,224.0,286.0,TGATTCCC,8.0,TCCCT,5.0,0
4,M00689:14:000000000-A2E6E:1:1101:10092:3445|CP...,TAAGGGATCTGGATACAGCTTTACCAGCTACTGGATCAGCTGGGTG...,KGSGYSFTSYWISWVRQMPGRGLEWMGRIDPTDSYTNYSPSFQGHV...,IGH,F,T,F,T,F,F,...,223.0,284.0,316.0,224.0,283.0,TTCCCATGGGAAAGGGAACCCG,22.0,ACTAAT,6.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9908089,M00689:37:000000000-A3EUR:1:2102:24137:13788|C...,GCACCTTCTCTGGGTTCTCACTCAGCACTAGTGGAGTGGGTGTGGG...,TFSGFSLSTSGVGVGWIRQPPGKALEWLALIYWNDDKRYSPSLKSR...,IGH,T,T,F,F,F,F,...,227.0,342.0,375.0,228.0,341.0,TCGTCAGTAAAGGGCGGGGTCTATA,25.0,GTGGCCGCGTGGGGGCCATGACCATCAAGAGGGGGGGGGA,40.0,1
9908090,M00689:37:000000000-A3EUR:1:2104:14937:18059|C...,TCACCTTCTCTGGGTTCTCACTCACCACTAGTGGAGTGGGTGTGGG...,TFSGFSLTTSGVGVGWIRQPPGKALEWLPLIYWNDDKRYSLSLKSR...,IGH,T,T,F,F,F,F,...,227.0,342.0,375.0,228.0,341.0,TCGTCAGTAAAGGGCGGGGTCTATA,25.0,GTGGCCGCGTGGGGGCCATGACCATCAAGAGGGGGGGGGA,40.0,1
9908091,M00689:37:000000000-A3EUR:1:2114:13266:24350|C...,GCACCTTCTCTGGGTTCTCACTCAGCACTAGTGGAATGTGTGTGAG...,TFSGFSLSTSGMCVSWIRQPPGKALEWLALIDWDDDKYYSTSLKTR...,IGH,T,T,F,F,F,F,...,227.0,342.0,374.0,228.0,341.0,CTCTGGAAACAGTGATTGGCAGCTCTACAAAAACCATGCTCCCCCG...,76.0,CTGACTCACCGTG,13.0,1
9908092,M00689:37:000000000-A3EUR:1:2110:8019:9527|CPR...,GCACCTTCTCTGGGTTCTCACTCAGCACTAGTGGAATGTGTGTGAG...,TFSGFSLSTSGMCVSWIHQPPGKALEWLALIDWDDDKYYSTSLKTR...,IGH,T,T,F,F,F,F,...,227.0,342.0,374.0,228.0,341.0,CTCTGGAAACAGTGATTGGCAGCTCTACAAAAGCCATGCTCCCCCG...,76.0,CTGACTCACCGTG,13.0,1
9908093,M00689:37:000000000-A3EUR:1:1104:29342:16678|C...,GGGTCCTCGGTTACGGTCTCCTGCACGTCTTCTGGAGGCACCTCCA...,GSSVTVSCTSSGGTSNSYAISWVRQAPGQGPEWMGWIIPIFFTSNY...,IGH,T,T,F,F,F,F,...,246.0,409.0,428.0,247.0,408.0,TCTCGAAAGGGAAGANTGAGGAGTAGAGTGGAAGAAGACAAGAGCA...,118.0,AGTGTAGGGTCTT,13.0,1

In [15]:
data[["v_alignment_start", "v_alignment_end", "v_sequence_start", "v_sequence_end"]]

         v_alignment_start  v_alignment_end  v_sequence_start  v_sequence_end
0                      1.0            217.0               1.0           217.0
1                      1.0            216.0               4.0           219.0
2                      1.0            231.0               1.0           231.0
3                      1.0            231.0               1.0           231.0
4                      1.0            230.0               1.0           230.0
...                    ...              ...               ...             ...
9908089                1.0            236.0               1.0           236.0
9908090                1.0            235.0               2.0           236.0
9908091                1.0            224.0               1.0           224.0
9908092                1.0            224.0               1.0           224.0
9908093                1.0            246.0               1.0           246.0

[9908094 rows x 4 columns]

In [ ]:
data[["np1", "np1_length", "cdr3_aa"]]

,np1,np1_length,cdr3_aa
0,CGAGTTCTTCCTCCCG,16.0,ARRVLPPDYDFWSGYYRGHGDWFDP
1,TCTAAC,6.0,ARDLTYYYDSSGYFPTYYYYYGMDV
2,TGAGGCCCTAAGGTCC,16.0,ARDEALRSIAVAGTYYYGMDV
3,TGATTCCC,8.0,AKDDSPAAGTPYYYYYYGMDV
4,TTCCCATGGGAAAGGGAACCCG,22.0,ARLPMGKGTRSSSSLIWFDP
...,...,...,...
9908089,TCGTCAGTAAAGGGCGGGGTCTATA,25.0,AHRSSVKGGVYMWW*LLWPRGGHDHQEGGGYYYYIMDV
9908090,TCGTCAGTAAAGGGCGGGGTCTATA,25.0,AHRSSVKGGVYMWW*LLWPRGGHDHQEGGGYYYYIMDV
9908091,CTCTGGAAACAGTGATTGGCAGCTCTACAAAAACCATGCTCCCCCG...,76.0,WKQ*LAALQKPCSPGTPGCGFL*PLAQG*LTVAEYFQH
9908092,CTCTGGAAACAGTGATTGGCAGCTCTACAAAAGCCATGCTCCCCCG...,76.0,WKQ*LAALQKPCSPGTPGCGFL*PLAQG*LTVAEYFQH
9908093,TCTCGAAAGGGAAGANTGAGGAGTAGAGTGGAAGAAGACAAGAGCA...,118.0,SRKGRXRSRVEEDKSTEDRERSRRRGEDTAIY*WARNN*YLLSGYS...

In [38]:
data[["cdr3_start", "cdr3_end", "fwr4_start", "fwr4_end", "v_sequence_end", "j_sequence_start", "d_sequence_end", "np2_length"]]

,cdr3_start,cdr3_end,fwr4_start,fwr4_end,v_sequence_end,j_sequence_start,d_sequence_end,np2_length
0,212.0,286.0,287.0,319.0,217.0,273.0,259.0,13.0
1,212.0,286.0,287.0,319.0,219.0,260.0,251.0,8.0
2,224.0,286.0,287.0,319.0,231.0,265.0,264.0,0.0
3,224.0,286.0,287.0,319.0,231.0,258.0,252.0,5.0
4,224.0,283.0,284.0,316.0,230.0,271.0,264.0,6.0
...,...,...,...,...,...,...,...,...
9908089,228.0,341.0,342.0,375.0,236.0,318.0,277.0,40.0
9908090,228.0,341.0,342.0,375.0,236.0,318.0,277.0,40.0
9908091,228.0,341.0,342.0,374.0,224.0,324.0,310.0,13.0
9908092,228.0,341.0,342.0,374.0,224.0,324.0,310.0,13.0
9908093,247.0,408.0,409.0,428.0,246.0,395.0,381.0,13.0